/* src/components/NavBar.css */

nav {
    background-color: #333;
    color: #6e1616;
    padding: 1rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    color: #711c1c;
    cursor: pointer;
}